.a{
    margin: 10px;
}
h1{
    text-align: center;
    padding: 5px;
    background-color: yellow;
    color: green;
    text-decoration: underline;
}
h3{
    text-align: center;
}
.b{
    padding: 5px;
}
.imgwidth{
    width: 200px;
}
.form{
    width: 100%;
}
.button{
    width: 50%;
    color: white;
    background-color: green;
    font-size: 12px;
    text-align: center;
}
.c{
    color: white;
    text-align: center;
    background-color: black;
}