.a{
    margin: 5px;
    padding: 5px;
    background-color: grey;
}
h1{
    text-align: center;
    padding: 5px;
    background-color: yellow;
    color: green;
    text-decoration: underline;
}
h3{
    text-align: center;
}
.intro{
    border: solid;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
}
.b{
    text-decoration: underline;
}
.image{
    margin: 5px;
    text-align: center;
}
.imgwidth{
    border-radius: 100%;
    border: solid;
    width: 200px;
}
.form{
    width: 100%;
}
.button{
    width: 50%;
    color: white;
    background-color: green;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
}
.c{
    color: white;
    text-align: center;
    margin-top: 3px;
    background-color: black;
}